# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


#Atmel Studio

*.eep
*.elf
*.hex
*.lss
*.map
*.d

#notepad++
*.bak
*.csv
*.xlsx

MAN5100319 - FCgen™ 1020ACS Product Manual - Rev. 0B*
MAN5100342 - FCgen™ 1020 ACS Control Software Design Guide - Rev 0A*


